{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Alleviating A Medical Category Bootstrap responsive Web Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Alleviating Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/bootstrap.css'%}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'css/fontawesome-all.min.css'%}" rel="stylesheet">
    <!-- //Custom Theme files -->
	<link href="{% static 'css/minimal-slider.css'%}" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" property="" />
    <!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet"><!-- //online-fonts -->
</head>
<body>
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand text-white" href="index.html"><CENTER>
                       WELCOME TEACHER
                    </CENTER>
                    <br><br>
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item active  mr-3 mt-lg-0 mt-3">
                           
                        </li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="{%  url 'shome' %}"></a>
                        </li>
                        <li class="nav-item dropdown mr-3 mt-lg-0 mt-3">
                           
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'slogin' %}">student</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'tlogin' %}">Teacher</a>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </nav>
        </header><br>

<br><br>
<center>
<a href="/addstudents/"><button type="button">Add_Student</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/viewstudent/"><button type="button">View_Students</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/tviewhealth/"><button type="button">View_Health_issues</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{(% url 'viewfile' i.id %)}"><button type="button">View_File</a></button>
</center>
<body style="background-image:url('{%static 'image\pic1.jpg'%}');"></body>
</body>
</html>